body {
  font-size: 1.1em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
a.navbar-left {
  float: left;
}
a.navbar-right {
  float: right;
}
.jumbotron {
  padding: 1.5em;
}
a:focus, a:hover {
  color:#af044c;
  text-decoration: none;
}
a:hover #connect {
  color: #FFFFFF;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #448f38;
}
.navbar-default .navbar-brand {
  color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}
.navbar-default {
  background-color: #404A62;
  border-color: #443E3E;
}
body {
  background-color: #C1E0DC;
}
.jumbotron {
  background-color: #FDFCFC;
}
.jumbotron p {
  font-size: 1.3em;
}
#connect {
  color: #af044c;
}
a {
  color: #448f38;
}
