defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "posts"
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "default"
gems:
  - jekyll-feed
  - kramdown
