---
---
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/application.css">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://stephanieliu.net">stephanie liu</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://stephanieliu.net/about">about</a></li>
        </ul>
      </div>
    </nav>
    {{ content }}
  </body>
</html>
